.name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 22px);
    color: #00c3ff;
    margin: 0;
    opacity: 0;
    transition: opacity 4.25s ease, transform 4.25s ease;
}

.name.show {
    opacity: 1;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.pipe {
    color: var(--font-color);
    opacity: 1;
    font-weight: 600;
    margin: 0 6px;
}

.letter, .pipe {
    display: inline-block;
    min-width: 0.6ch;
}

.title-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    z-index: 1;
}

.title {
    position: relative;
    display: flex;
    font-size: clamp(38px, 5vw, 90px);
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
}

.accent {
    font-style: italic;
}

.digital {
    color: transparent;
    -webkit-text-stroke: 1px var(--font-color-secondary);
}

.products {
    color: #00c3ff;
}

.sub-title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist';
    font-weight: 400;
    color: var(--font-color-secondary);
    font-size: clamp(20px, 3vw, 28px);
    margin: 0;
}

.wipe,
.primary-wipe {
    position: absolute;
    top: 0;
    left: 0;
    height: 102%;
    width: 0%;
    background-color: #00c3ff;
    z-index: 2;
    animation: none;
    pointer-events: none;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    opacity: 0;
    transition: opacity 4.25s ease, transform 4.25s ease;
    margin-top: 40px;
}

.cta-buttons.show {
    opacity: 1;
}

.cta-btn-1 {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--bg-color);
    font-size: clamp(14px, 2.5vw, 24px);
    text-decoration: none;
    border: 1px solid var(--font-color);
    background-color: var(--font-color);
    padding: 10px 20px;
    border-radius: 6px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    z-index: 1;
}

.cta-btn-2 {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--font-color);
    font-size: clamp(14px, 2.5vw, 24px);
    text-decoration: none;
    border: 1px solid var(--font-color);
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 6px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    z-index: 1;
}

.cta-btn-1:hover,
.cta-btn-2:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.cover-img-container {
    position: absolute;
    pointer-events: none;
    display: flex;
    z-index: 999;
    bottom: 0;
    right: 0;
}

.cover-img {
    width: clamp(600px, 42vw, 925px);
    height: auto;
    opacity: 0;
    transition: opacity 4.25s ease, transform 4.25s ease;
}

.cover-img.show {
    opacity: 1;
}

@keyframes wipe-in-out {
  0% { width: 0%; left: 0%; }
  40% { width: 100%; left: 0%; }
  60% { width: 100%; left: 0%; }
  100% { width: 0%; left: 100%; }
}