:root {
  --bg-color: black;
  --font-color: white;
  --toggler-bg-color: #e1e1e1;
  --toggler-focus-bg-color: #444;
  --nav-link-color: white;
  --nav-link-hover-color: white;
  --nav-link-active-color: white;
  --nav-link-active-hover-color: white;
  --nav-link-hover-underline: white;
}

.light-mode {
  --bg-color: white !important;
  --font-color: black !important;
  --font-color-secondary: rgb(68, 68, 68) !important;
  --toggler-bg-color: hsl(0, 0%, 91%, 0.85) !important;
  --toggler-focus-bg-color: #444 !important;
  --nav-link-color: black !important;
  --nav-link-hover-color: black !important;
  --nav-link-active-color: black !important;
  --nav-link-active-hover-color: black !important;
  --nav-link-hover-underline: black !important;
  --category-color: rgb(88, 88, 88) !important;
}

.dark-mode {
  --bg-color: black !important;
  --font-color: white !important;
  --font-color-secondary: rgb(245, 245, 245) !important;
  --toggler-bg-color: hsl(0, 0%, 91%, 0.85) !important;
  --toggler-focus-bg-color: #444 !important;
  --nav-link-color: white !important;
  --nav-link-hover-color: white !important;
  --nav-link-active-color: white !important;
  --nav-link-active-hover-color: white !important;
  --nav-link-hover-underline: white !important;
  --category-color: lightgray !important;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #222;
  perspective: 1px; 
  transform-style: preserve-3d; 
  overflow-x: hidden;
  overflow-y: scroll; 
}

html,
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav.navbar {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 100vw;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.navbar a {
  color: var(--font-color);
  position: relative;
  padding-top: 15px;
}

.navbar-nav .nav-link {
  color: #afafaf;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:visited {
  color: var(--nav-link-hover-color) !important;
}

.navbar-toggler {
  border-radius: 0.575rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-nav .nav-link.active {
  color: var(--nav-link-active-color) !important;
}

.navbar.bg-body-tertiary {
  background-color: var(--nav-bg-color) !important;
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#light-dark-mode {
  display: flex;
  position: relative;
  flex-direction: row;
  border: none;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.social-icon {
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

/* Desktop left vertical bar */
.social-vertical {
  justify-content: flex-end;
  height: 100vh;
  z-index: 1000;
  left: 0;
  bottom: 0;
}

.figma {
  filter: invert(1);
}

.light-mode .figma {
  filter: none;
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d; 
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -2;
  pointer-events: none;
  filter: blur(5px);
}

.home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.copyright p {
  margin: 0px 10px;
}

.copyright #current-year {
  color: var(--font-color);
}

.social-vertical {
  padding-bottom: 12vh;
}

.projects {
  position: relative;
  align-items: stretch;
  padding: 0 10vw;
  background-color: var(--bg-color);
}

.projects section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 150px;
}

.projects section.reverse {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.tab {
  display: inline-block;
  width: 200px;
  margin-bottom: 50px;
  transform: rotateX(90deg);
  transform-origin: top;
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.tab.visible {
  transform: rotateX(0deg);
  opacity: 1;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  font-family: 'Urbanist';
  color: var(--font-color-secondary);
  font-size: 20px;
  flex: 1 1 300px;
  order: 1;
  padding: 0 1rem;
}

.desc a {
  color: #00c3ff;
}

.desc h2,
.desc p, 
.desc button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.desc h2 {
  font-family: 'Urbanist-SemiBold';
  color: var(--font-color);
  font-size: 48px;
  margin-bottom: 20px;
}

.desc h2.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.desc p.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.desc button.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.page-btn {
  display: inline-flex;
  align-self: flex-start;
  margin-top: auto;
  background-color: #00c3ff;
  border: none;
  gap: 0.4em;
  align-items: center;
  padding: 10px 100px;
  cursor: pointer;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.page-btn:hover {
  background-color: #00c3ffe3;
}

/* .page-btn span {
  transition: font-size 0.2s ease;
}

.page-btn:hover span {
  font-size: 1.1em
} */

.page-btn .new-window {
  width: 1em;
  height: 1em;
  transition: transform 0.2s ease;
}

.laptop-container,
.phone-container {
  position: relative;
  flex: 1 1 300px;
  order: 2;
  box-sizing: border-box;
  padding: 0 1rem;
}

.projects .laptop-container img,
.projects .phone-container img {
  max-width: 100%;
  height: auto;
}

.laptop-container {
  display: flex;
  perspective: 1200px;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.laptop {
  width: 950px;
  transform-style: preserve-3d;
}

.laptop .top,
.laptop .bottom {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.laptop .top {
  transform-origin: bottom center;
  transform: rotateX(90deg);
  backface-visibility: hidden;
}

.laptop .top.show {
  opacity: 1;
  animation: openLaptop 2s ease forwards;
  animation-delay: 1s;
}

.laptop img {
  display: block;
}

.laptop .top {
  transform-origin: bottom center;
  transform: rotateX(90deg);
  backface-visibility: hidden;
}

.laptop .top.show {
  opacity: 1;
  animation: openLaptop 2s ease forwards;
  animation-delay: 1s;
}

.laptop .bottom.show {
  opacity: 1;
  transition-delay: 0.5s;
}

@keyframes openLaptop {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

.phone-container {
  display: flex;
  width: 300px;
  min-height: 800px;
}

.phone-top,
.phone-bottom {
  position: absolute;
  width: 600px;
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
}

.phone-top {
   z-index: 1;
}

.phone-top.init {
  transform: translateY(100%);
}

.phone-top.animate {
  opacity: 1;
  transform: translateY(0);
}

.phone-bottom {
  z-index: 2;
  transform: translateY(0);
}

.phone-bottom.init {
  transform: translateY(100%);
}

.phone-bottom.animate {
  opacity: 1;
  transform: translate(225px, 225px); 
  transition: transform 2.3s ease, opacity 2.3s ease;
  transition-delay: 0.3s;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 150px;
  padding: 0 10vw;
  gap: 2rem;
}

.about-text {
  flex: 1;
  min-width: 280px;
  padding: 0 1rem;
}

.about-text h2 {
  font-family: 'Urbanist-SemiBold';
  font-size: 48px;
}

.about-text p {
  font-family: 'Urbanist';
  font-size: 20px;
  color: var(--font-color-secondary);
}

.about-btn {
  background-color: #00c3ff;
}

.resume {
  color: #00c3ff;
}

.about-img {
  flex: 1;
  display: flex;
  justify-self: center;
  padding: 0 1rem;
}

.about-img img {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
}

.about-img img {
  
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0px 15px 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Montserrat";
}

@media (max-width: 2200px) {

}

@media (max-width: 1450px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 750px) {

}

@media (max-width: 600px) {

}

@media (max-width: 450px) {

}
