.light-mode {
  --theme-btn-color: rgba(255, 255, 255, 0.1) !important;
}

.dark-mode {
  --theme-btn-color: rgba(0, 0, 0, 0.1) !important;
}

.theme-toggle {
  --icon-fill-moon: #999999;
  --icon-fill-moon-hover: #7e7e7e;
  --icon-fill-sun: #555555;
  --icon-fill-sun-hover: #606060;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: transparent !important; 
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px var(--nav-bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 3001;
}

.sun-and-moon {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
  display: inline-block;
}

.sun-and-moon > .moon,
.sun-and-moon > .sun {
  transition: fill 0.3s ease;
  transform-origin: center center;
}

.sun-and-moon > .moon {
  fill: var(--icon-fill-moon);
}

.sun-and-moon > .sun {
  fill: var(--icon-fill-sun);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-sun);
  stroke-width: 2px;
  transition: stroke 0.3s ease;
}

/* === Hover Effects === */
.theme-toggle:hover {
  box-shadow: 0 0 30px rgba(0, 123, 255, 0.75);
}

.theme-toggle:hover .sun-and-moon > .sun {
  fill: var(--icon-fill-sun-hover);
}

.theme-toggle:hover .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-sun-hover);
}

.theme-toggle:hover .sun-and-moon > .moon {
    fill: var(--icon-fill-moon-hover);
}

/* === Dark Mode SVG Animation === */
[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon .mask-circle {
  cx: 18;
}

/* === Smooth Animation === */
@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
  }

  .sun-and-moon > .sun-beams {
    transition: transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25), opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    mask: url(#moon-mask);
    -webkit-mask: url(#moon-mask);
    transform: scale(1.75);
    transition: transform 0.25s cubic-bezier(0.25, 0, 0.3, 1);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transform: rotate(-25deg);
    transition-duration: 0.15s;
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}